@media screen and (max-width: 769px) {
    .header {
        height: 385px;
        background-image: url("./../images/banner_res.png");
    }

    .content {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
            column-gap: 0;
        }

        &__header {
            &--title {
                h1 {
                    color: #000;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 72.4px;
                }
            }

            select {
                padding: 7px 60px 7px 5px;
            }
        }
    }

    .pagination {
        flex-wrap: nowrap;

        a,
        span {
            font-size: 15px;
            margin: 0;
            padding: 0 16px;
        }
    }

    footer {
        font-size: 15px;
    }
}

@media screen and (min-width: 769px) and (max-width:920px) {
    .header {
        .logo {
            &__image {
                width: 41px;
                height: 41px;
            }

            &__name {
                font-size: 15px;
            }
        }

        .nav {
            &__search {
                height: 45px;
                width: 374px;
                position: relative;

                input {
                    margin-top: 10px;
                    width: 70%;
                    height: 70%;
                    border: 1px solid #d4d4d4;
                    border-radius: 4px;
                    padding: 11px 50px 13px 20px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 22px;
                }

                &--icon {
                    position: absolute;
                    left: 60%;
                    top: 50%;
                    bottom: 50%;
                    transform: translate(-50%, -50%);
                    color: #d4d4d4;
                    cursor: pointer;
                    height: 19px;
                    width: 19px;
                }
            }

            &__option {
                &--btn {

                    &-top,
                    &-create {
                        font-size: 12px;
                    }
                }

                &--user {
                    &-name {
                        font-size: 12px;
                    }

                    &-avatar {
                        @include size(25px, 25px);
                    }
                }
            }
        }
    }

    .content {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
            gap: 20px;
        }

        &__header {
            h1 {
                font-size: 30px;
            }

            select {
                padding: 7px 60px 7px 5px;
            }
        }
    }
}
