@import url(//db.onlinewebfonts.com/c/d7a74f6ebe99f3f64ac5c9cb859c25f6?family=SVN-Gilroy);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input,
button {
  outline: none;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.eot");
  src: url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d7a74f6ebe99f3f64ac5c9cb859c25f6.svg#SVN-Gilroy") format("svg");
}
body {
  margin-top: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 519px;
  max-width: 100%;
  background-image: url("./../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__container {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  transition: top 0.5s linear;
  z-index: 10;
}
.header .logo__name {
  font-weight: 700;
  font-size: 20px;
}
.header .logo__image {
  height: 61px;
  width: 61px;
}
.header .nav {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
}
.header .nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
  gap: 33px;
}
.header .nav__logo--group {
  display: flex;
  align-items: center;
  justify-content: "";
  flex-wrap: "";
}
.header .nav__search {
  height: 45px;
  width: 374px;
  position: relative;
}
.header .nav__search input {
  height: 100%;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 11px 50px 13px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header .nav__search--icon {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: #d4d4d4;
  cursor: pointer;
  height: 19px;
  width: 19px;
}
.header .nav__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
  width: 350px;
}
.header .nav__option--btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
  gap: 27px;
}
.header .nav__option--btn-top {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 11px;
  background-color: rgb(119, 3, 3);
  border-radius: 4px;
}
.header .nav__option--btn-create {
  font: 15px;
  font-weight: 500;
}
.header .nav__option--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
  gap: 17px;
}
.header .nav__option--user-name {
  font-weight: 500;
  font-size: 15px;
}
.header .nav__option--user-avatar {
  height: 30px;
  width: 30px;
}
.header-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.header-menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
  padding: 9px 15px;
}
.header-menu-icon {
  height: 25px;
  width: 26px;
  color: #292d32;
}
.header-menu-search {
  height: 19px;
  width: 19px;
  color: #a7a7a7;
}
.header-menu-logoicon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
}
.header-menu-imageicon {
  height: 45px;
  width: 47px;
}
.header-logo-namemenu {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

@keyframes backOutUp {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-700px);
    opacity: 0.7;
  }
}
.backOutUp {
  animation-name: backOutUp;
  animation-duration: 3s;
}

.backInDown {
  animation-name: backInDown;
  animation-duration: 1s;
}

@keyframes backInDown {
  0% {
    transform: translateY(-1200px);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 769px) {
  .header {
    height: 385px;
    background-image: url("./../images/banner_res.png");
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    display: block;
  }
}
footer {
  margin-top: 200px;
  text-align: center;
  background-color: #000;
  color: #FFFFFF;
  padding: 26px;
}

.content__header {
  margin: 50px 0 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: "";
}
.content__header--title h1 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 72.4px;
}
.content__header select {
  padding: 7px 60px 7px 5px;
  box-sizing: border-box;
  width: 144px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
.content__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 70px;
  column-gap: 30px;
  margin-bottom: 50px;
}
.content__grid--post {
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 8px;
}
.content__grid--post img {
  height: 276px;
  width: 100%;
  object-fit: cover;
}
.content .post__content {
  padding: 20px;
}
.content .post__content--infor {
  display: flex;
  align-items: center;
  justify-content: "";
  flex-wrap: "";
  gap: 30px;
  margin-bottom: 15px;
}
.content .post__content--group {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: "";
  flex-wrap: "";
}
.content .post__content--author {
  font-weight: 400;
  font-size: 18px;
  color: #211E3B;
  text-overflow: ellipsis;
}
.content .post__content--icon {
  height: 20px;
  width: 20px;
}
.content .post__content--title {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
}
.content .post__content--summary {
  font-size: 17px;
  margin-bottom: 29px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .post__content--footer {
  position: relative;
  margin-bottom: 10px;
  display: flex;
}
.content .post__content--btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: "";
  flex-wrap: "";
  width: 137px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  color: rgb(196, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}
.content .post__content--btn svg {
  display: block;
  width: 18px;
  color: rgb(196, 0, 0);
}
.content .post__content--btn:hover {
  background-color: rgb(196, 0, 0);
  color: #fff;
}
.content .post__content--btn:hover svg {
  color: #fff;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination a,
.pagination span {
  border-radius: 50%;
  color: rgb(33, 30, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: "";
  font-size: 20px;
  margin: 0 5px 5px;
  min-width: 20px;
  padding: 0 14px;
  height: 40px;
  text-decoration: none;
  position: relative;
  font-family: "SVN-Gilroy";
}
.pagination a:hover,
.pagination span:hover {
  background-color: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
}
.pagination i {
  color: #fff;
}
.pagination__btn--previous, .pagination__btn--next {
  background: #E5E5E5;
  border-radius: 50%;
}
.pagination__btn--previous:hover, .pagination__btn--next:hover {
  background-color: rgb(196, 0, 0) !important;
}
.pagination .page-active {
  background-color: rgb(255, 228, 228);
  color: rgb(196, 0, 0);
}

@media screen and (max-width: 769px) {
  .header {
    height: 385px;
    background-image: url("./../images/banner_res.png");
  }
  .header .nav {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .content__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 0;
  }
  .content__header--title h1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 72.4px;
  }
  .content__header select {
    padding: 7px 60px 7px 5px;
  }
  .pagination {
    flex-wrap: nowrap;
  }
  .pagination a,
  .pagination span {
    font-size: 15px;
    margin: 0;
    padding: 0 16px;
  }
  footer {
    font-size: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 920px) {
  .header .logo__image {
    width: 41px;
    height: 41px;
  }
  .header .logo__name {
    font-size: 15px;
  }
  .header .nav__search {
    height: 45px;
    width: 374px;
    position: relative;
  }
  .header .nav__search input {
    margin-top: 10px;
    width: 70%;
    height: 70%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 11px 50px 13px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
  }
  .header .nav__search--icon {
    position: absolute;
    left: 60%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: #d4d4d4;
    cursor: pointer;
    height: 19px;
    width: 19px;
  }
  .header .nav__option--btn-top, .header .nav__option--btn-create {
    font-size: 12px;
  }
  .header .nav__option--user-name {
    font-size: 12px;
  }
  .header .nav__option--user-avatar {
    height: 25px;
    width: 25px;
  }
  .content__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    gap: 20px;
  }
  .content__header h1 {
    font-size: 30px;
  }
  .content__header select {
    padding: 7px 60px 7px 5px;
  }
}

/*# sourceMappingURL=main.css.map */
